@import "../../assets/styles/variables.scss";
@import "../../assets/styles/colors.scss";

:host {
  display: flex;
  padding: $margin-regular;
  width: 100%;
  height: 100%;

  .wrapper {
    box-sizing: border-box;
    display: flex;
    background: $gradient;
    box-shadow: $box-shadow;
    width: inherit;
    height: inherit;
    flex-direction: column;
    padding: $margin-regular;
    .header {
      height: 15%;
      color: white;
      display: flex;
      align-items: center;
      align-self: center;
    }
    .options {
      height: 70%;
      display: flex;
      height: 100%;
      flex-direction: row;
      .right-side,
      .left-side {
        width: 5%;
        text-orientation: upright;
        font-size: $fs-big;
        font-family: $font-fam;
        color: white;
        align-self: center;
        cursor: pointer;
      }

      .right-side {
        writing-mode: vertical-lr;
      }
      .left-side {
        writing-mode: vertical-rl;
      }

      form {
        width: 90%;
        height: 100%;
        .main-part {
          width: 100%;
          height: 90%;
          display: flex;
          flex-direction: row;
          align-items: center;

          .labels {
            width: 30%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            text-align: end;
            color: white;
          }
          .separator {
            width: 15%;
          }
          .controls {
            width: 40%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            color: white;
            mat-form-field {
              width: 50%;
              align-self: center;
            }
            mat-radio-group {
              display: flex;
              justify-content: space-evenly;
            }
            img {
              height: 25px;
            }
          }
        }
        .button {
          display: flex;
          height: 10%;
          justify-content: center;
          button {
            font-family: $font-fam;
            width: 150px;
            height: 40px;
            font-size: 30px;
          }
        }
      }
    }
    .actions {
      height: 15%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      a {
        color: white;
        margin: 0 $margin-regular;
        text-decoration: none;
        font-size: $fs-medium;
      }
    }
  }
}
.mat-select-value {
  color: white !important;
}

@media (min-width: 0) and (max-width: 768px) {
  :host {
    .wrapper {
      padding: $margin-regular;
      .header {
        h1{
          font-size: $fs-regular;
          text-align: center;
        }
      }
      .options {

        flex-direction: column;
        .right-side,
        .left-side {
          width: 5%;
          text-orientation:inherit;
          font-size: $fs-medium;
        }

        .right-side {
          writing-mode: inherit;
        }
        .left-side {
          writing-mode:inherit;
        }

        form {
          width: 100%;
          height: 100%;
          .main-part {
            height: 80%;
            justify-content: space-between;
            .labels {
              width: 40%;
              height: 50%;
              display: flex;
              h1{
                font-size: $fs-regular;
              }
              flex-direction: column;
              justify-content: space-evenly;
              text-align: end;
              color: white;
            }
            .separator {
              width: 0;
            }
            .controls {
              width: 40%;
              height: 50%;
              display: flex;
              flex-direction: column;
              justify-content: space-evenly;
              color: white;
              mat-form-field {
                width: 100%;
                align-self: center;
              }
              mat-radio-group {
                align-self: center;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                mat-radio-button{
                  margin-bottom:$margin-small;
                }
              }
              img {
                height: 15px;
              }
            }
          }
          .button {
            button {
              font-size: 24px;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px)  and (max-width: 992px){
  :host {
    .wrapper {
      padding: $margin-regular;
      .header {
        h1{
          font-size: $fs-normal;
          text-align: center;
        }
      }
      .options {

        flex-direction: column;
        .right-side,
        .left-side {
          width: 5%;
          text-orientation:inherit;
          font-size: $fs-medium;
        }

        .right-side {
          writing-mode: inherit;
        }
        .left-side {
          writing-mode:inherit;
        }

        form {
          width: 100%;
          height: 100%;
          .main-part {
            height: 80%;
            justify-content: space-between;
            .labels {
              width: 30%;
              height: 50%;
              display: flex;
              h1{
                font-size: $fs-regular;
              }
              flex-direction: column;
              justify-content: space-evenly;
              text-align: end;
              color: white;
            }
            .separator {
              width: 0;
            }
            .controls {
              width: 60%;
              height: 50%;
              display: flex;
              flex-direction: column;
              justify-content: space-evenly;
              color: white;
              mat-form-field {
                width: 80%;
                align-self: center;
              }
              mat-radio-group {
                display: flex;
                justify-content: space-evenly;
              }
              img {
                height: 20px;
              }
            }
          }
          .button {
            button {
              font-size: 24px;
            }
          }
        }
      }
    }
  }
}
