<div class="menu-wrapper">
  <div class="menu">
    <div class="dare" [routerLink]="['/dares']" routerLinkActive="active-link">
      <img src="../../../../assets/images/Cancel.svg">
    </div>
    <div class="question" [routerLink]="['/questions']" routerLinkActive="active-link">
      <img src="../../../../assets/images/question.svg">
    </div>
    <div class="games" [routerLink]="['/games']" routerLinkActive="active-link">
      <img src="../../../../assets/images/playing-cards.svg">
    </div>
    <div class="profile" [routerLink]="['/profile']" routerLinkActive="active-link">
      <img src="../../../../assets/images/user.svg">
    </div>
    <div class="logout" (click)="logout()">
      <img src="../../../../assets/images/logout.svg">
    </div>
  </div>
</div>
