@import "../../../../assets/styles/colors.scss";

:host {
  width: 100%;
  .menu-wrapper {
    display: flex;
    height: 100px;
    .menu {
      background: $primary-color;
      box-shadow: $box-shadow;
      display: flex;
      width: 70%;
      height: 60px;
      flex-direction: row;
      margin: auto;
      text-align: center;
      div {
        width: 20%;
        cursor: pointer;
        display: flex;
        justify-content: center;
        img {
          width: 40px;
        }
      }
      .active-link {
        background-color: $secondary-color;
        color: white;
        opacity: 0.85;
      }
    }
  }
}
