@import "../../../assets/styles/variables.scss";
@import "../../../assets/styles/colors.scss";

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  button {
    width: fit-content;
    display: flex;
    align-self: flex-end;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    place-content: center;
    .info {
      font-family: $font-fam;
      color: black;
      font-size: $fs-medium;
      align-self: center;
      margin-bottom: $margin-big;
    }
    .auth-container {
      display: flex;
      align-self: center;
    }

    .login {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: $margin-big;
    }
  }
}
