<div class="wrapper" [style.background-image]="'url('+game.imageUrl+')'">
  <div class="header">
    TRUTH OR DRINK
  </div>
  <div class="action">
    <button mat-raised-button (click)="close()">ZAMKNIJ</button>
  </div>
  <div class="cards">
    <div class="questions">
      <div class="card" (click)="flip($event)">
        <div class="flip-card-front">
          ?
        </div>
        <div class="flip-card-back">
          <div class="text"> {{questionCard?.name }}</div>
          <div class="actions">
            <div class="shots">
              <ng-container *ngFor='let i of numberArray(questionCard?.level)'>
                <img src="../../assets/images/drink.png">
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="dares">
      <div class="card" (click)="flip($event)">
        <div class="flip-card-front">
          X
        </div>
        <div class="flip-card-back">
          <div class="text">{{dareCard?.name }}</div>
          <div class="actions">
            <div class="shots">
              <ng-container *ngFor='let i of numberArray(dareCard?.level)'>
                <img src="../../assets/images/drink.png">
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="action">
    <button mat-raised-button (click)="openRules()">ZASADY GRY</button>
  </div>
</div>
