<div class="wrapper">
    <div class="header">
        TRUTH OR DRINK
    </div>
    <div class="action">
        <button mat-raised-button (click)="menu()">MENU</button>
    </div>
    <div class="cards">
        <div class="questions">
            <div class="flip-card">
                <div class="flip-card-inner">
                <div class="flip-card-front">
                    ?
                </div>
                <div class="flip-card-back">
                    <div class="text"> Kiedy ostatni raz myłeś zęby?</div>
                    <div class="actions">
                        <button mat-icon-button><i class="fas fa-check"></i></button>

                        <div class="shots">
                            <img src="../../assets/images/drink.svg">
                            <img src="../../assets/images/drink.svg">
                            <img src="../../assets/images/drink.svg">
                        </div>
                    </div>
                    
                </div>
                </div>
            </div>
        </div>
        <div class="dares">
            <div class="flip-card">
                <div class="flip-card-inner">
                <div class="flip-card-front">
                    X
                </div>
                <div class="flip-card-back">
                    <div class="text"> Dodawaj do końca każdego zdania słowo ogórek.</div>
                    <div class="actions">
                        <button mat-icon-button><i class="fas fa-check"></i></button>

                        <div class="shots">
                            <img src="../../assets/images/drink.svg">
                            <img src="../../assets/images/drink.svg">
                            <img src="../../assets/images/drink.svg">
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="action">
        <button mat-raised-button (click)="shuffle()">PRZETASUJ</button>
    </div>
</div>