@import "../../assets/styles/variables.scss";
@import "../../assets/styles/colors.scss";

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  .wrapper {
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: row;
    .left-side {
      justify-content: space-evenly;
      padding: 15px;
      height: 100%;
      width: 50%;
      background: $gradient;
      box-shadow: $box-shadow;
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        width: 400px;
        height: auto;
      }

      .game-title {
        font-family: $font-fam;
        color: white;
        font-size: 55px;
      }

      button {
        font-family: $font-fam;
        width: 150px;
        height: 40px;
        font-size: 30px;
      }

      .login-info {
        font-family: Arial, sans-serif;
        font-size: $fs-medium;
        color: white;
      }

      .socials {
        a {
          color: white;
          margin: 0 $fs-medium;
          text-decoration: none;
        }
      }
    }

    .right-side {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
    }
  }
}


@media (min-width: 0) and (max-width: 768px) {
  :host {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    .wrapper {
      width: 95%;
      height: 95%;
      display: flex;
      flex-direction: column;
      .left-side {
        height: 50%;
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;

        img {
          width: 150px;;
        }

        .game-title {
          font-size: $fs-medium;
        }

        button {
          width: 80px;
          height: 30px;
          font-size: $fs-regular;
        }

        .login-info {
          font-size: $fs-regular;
        }

        .socials {
          a {
            margin: 0 $fs-regular;
          }
        }
      }

      .right-side {
        width: 100%;
        height: 50%;
      }
    }
  }
 }

@media (min-width: 768px)  and (max-width: 992px){
  :host {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    .wrapper {
      width: 95%;
      height: 95%;
      display: flex;
      flex-direction: column;
      .left-side {
        height: 50%;
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;

        img {
          width: 150px;;
        }

        .game-title {
          font-size: $fs-medium;
        }

        button {
          width: 80px;
          height: 30px;
          font-size: $fs-regular;
        }

        .login-info {
          font-size: $fs-regular;
        }

        .socials {
          a {
            margin: 0 $fs-regular;
          }
        }
      }

      .right-side {
        width: 100%;
        height: 50%;
      }
    }
  }
 }
