<div class="wrapper">
  <div class="left-side">
    <img src="../../assets/svg/logo.svg" class="logo">
    <div class="game-title">
      TRUTH OR DRINK
    </div>
    <button mat-raised-button> ZAGRAJ </button>
    <div class="login-info">
      Załóż konto i twórz własne zestawy z pytaniami
    </div>
    <div class="socials">
      <a href="https://www.facebook.com/underfae" target="_blank" class="fab fa-twitter fa-2x"></a>
      <a href="https://www.instagram.com/underfae" target="_blank" class="fab fa-facebook-f fa-2x"></a>
      <a href="https://www.linkedin.com/in/gabriela-frączek-009b331a3/" target="_blank" class="fab fa-instagram fa-2x"></a>
    </div>
  </div>
  <div class="right-side">
    <app-forgot-password></app-forgot-password>
  </div>
</div>
