/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "Bangers";
  src: url(assets/font/Bangers-Regular.ttf) format("truetype");
}

* {
  box-sizing: border-box;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }




