@import "../../../../assets/styles/variables.scss";

.mat-dialog-title {
  font-family: $font-fam;
  font-size: $fs-big;
  text-align: center;
  margin-bottom: $margin-regular;
}

.mat-dialog-actions {
  justify-content: center;
  margin-top: $margin-regular;
  button {
    font-family: $font-fam;
    font-size: $fs-regular;
  }
}
