<h1 mat-dialog-title>Zasady gry</h1>
<div mat-dialog-content>
  <p>
    Każdy z graczy do kolejnej osoby po swojej lewej stronie kieruje klasyczne
    pytanie "Prawda, czy wyzwanie?". Osoba wyznaczona dokonuje wyboru pomiędzy
    przymusową odpowiedzią na (często wstydliwe, osobiste lub odnoszące się do
    spraw zazwyczaj ukrywanych, np. uczucia) pytanie lub wykonaniem zadania
    (najczęstszymi są: pocałowanie kogoś w jakąś część ciała, wykrzyczenie
    swojej tajemnicy bądź czegoś sprzecznego z naszymi poglądami oraz
    powiedzenie komuś nie biorącemu udziału w grze czegoś, co może wywołać
    śmieszną sytuację). Następnie osoba zadająca pytanie czyta pytanie/wyzwanie
    i czeka czy odpowiadający zdecyduje się czy chce odpowiadać. Jesli odmówi
    musi wypić ilość shotów które są umieszczone na karcie. Po zakończeniu rundy
    klikamy na kartę i przechodzimy do kolejnego gracza
  </p>
  <p>
    Z widoku gry można wrócić do strony konfiguracyjnej klikając przycisk
    "MENU".
  </p>
  <p>
    Można równiez wymienić zestaw kard i wylosować nowy po kliknięciu przycisku
    "PRZETASUJ".
  </p>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="cancel()">Zamknij</button>
</div>
