@import "../../assets/styles/variables.scss";
@import "../../assets/styles/colors.scss";

table {
  width: 100%;
}
.mat-column-options {
  text-align: right;
}
img {
  height: 25px;
}
.wrapper {
  padding: 0 42px;
  .game-header {
    display: flex;
    margin: $margin-regular 0;
    justify-content: space-between;
    .title {
      height: 10%;
      font-family: $font-fam;
      letter-spacing: 1px;
      font-size: $fs-big;
      color: $primary-color;
    }
    .add-game {
      padding-right: $margin-medium;
      font-size: $fs-big;
      color: $primary-color;
      cursor: pointer;
    }
  }
}

i {
  color: $primary-color;
}
