<div class="wrapper">
  <button mat-raised-button> UTWÓRZ KONTO </button>
  <form [formGroup]="form" (ngSubmit)="onReset()" >
    <h1> Reset hasła </h1>

    <mat-form-field appearance="outline">
      <mat-label> Email </mat-label>
      <input matInput type="email" formControlName="email" [errorStateMatcher]="matcher" required>
      <mat-error *ngIf="form?.get('email').hasError('email') && !form?.get('email').hasError('required')">
        Podaj prawidłowy email
      </mat-error>
      <mat-error *ngIf="form?.get('email').hasError('required')">
        Email jest wymagany
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-form-field" appearance="outline">
      <mat-label>Hasło</mat-label>
      <input matInput type="password" formControlName="password" required [errorStateMatcher]="matcher">
      <mat-error *ngIf="form?.get('password').hasError('required')">
        Hasło jest wymagane
      </mat-error>
      <mat-error *ngIf="form?.get('password').hasError('minlength')">
        Hasło musi mieć co najmniej 6 znaków
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-form-field" appearance="outline">
      <mat-label>Powtórz nowe hasło</mat-label>
      <input matInput type="password" formControlName="newPassword">
        <mat-error *ngIf="form?.get('newPassword').hasError('mustMatch')">
          Hasła muszą być takie same
        </mat-error>
        <mat-error *ngIf="form?.get('newPassword').hasError('required') ">
          Powtórzenie nowego hasła jest wymagane
        </mat-error>
    </mat-form-field>

    <button mat-raised-button  type="submit" color="accent"> ZMIEŃ HASŁO </button>
  </form>
</div>
