:host{
  height: 100%;

  .wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;

    button {
      width: fit-content;
      display: flex;
      align-self: flex-end;
    }

    form {
      margin-left: 85px;
      width: 45%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 80%;
      h1 {
        margin-bottom: 32px;
      }

      mat-form-field {
        margin-bottom: 14px;
      }

      button {
        margin-top: 24px;
        align-self: left;
        font-size: 18px;
        padding: 8px 30px;
      }
    }
  }
}
