<app-header></app-header>
<div class="wrapper">
  <div class="profile">
    <div class="profile-info">
      <ng-container *ngIf="userService.pictureUrl$ | async as picture">
        <img [src]="picture" />
      </ng-container>
      <ng-container *ngIf="!(userService.pictureUrl$ | async)">
        <img src="../../assets/images/profile.svg" />
      </ng-container>
      <div class="name">{{user?.displayName}}</div>
      <div class="email">{{user?.email}}</div>
    </div>
    <hr />
    <div class="game-info">
      <div class="games">
        <p>Utworzone gry</p>
        <p>{{gamesSize}}</p>
      </div>
      <div class="questions">
        <p>Utworzone pytania</p>
        <p>{{questionsSize}}</p>
      </div>
      <div class="dares">
        <p>Utworzone wyzwania</p>
        <p>{{daresSize}}</p>
      </div>
    </div>
  </div>
  <div class="lists">
    <div class="row-wrapper">
      <div class="header">
        Ostatnio utworzone wyzwania
      </div>
      <div class="list">
        <ng-container *ngFor="let dare of latestDares">
          <div class="card-wrapper">
            <div class="text">{{ dare?.name }}</div>
            <div class="icons">
              <ng-container *ngFor="let i of numberArray(dare.level)">
                <img src="../../assets/images/drink.png" />
              </ng-container>
            </div>
          </div>
        </ng-container>
      </div>
    </div>

    <div class="row-wrapper">
      <div class="header">
        Ostatnio utworzone pytania
      </div>
      <div class="list">
        <ng-container *ngFor="let question of latestQuestions">
          <div class="card-wrapper">
            <div class="text">{{ question?.name }}</div>
            <div class="icons">
              <ng-container *ngFor="let i of numberArray(question.level)">
                <img src="../../assets/images/drink.png" />
              </ng-container>
            </div>
          </div>
        </ng-container>
      </div>
    </div>

    <div class="row-wrapper">
      <div class="header">
        Ostatnio utworzone gry
      </div>
      <div class="game-list">
        <ng-container *ngFor="let game of latestGames">
          <div class="card-wrapper" [style.background-image]="'url('+game.imageUrl+')'">
            <div class="text">{{ game?.name }}</div>
            <div class="button">
              <button mat-button (click)="playGame(game)">Zagraj</button>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
