<div class="wrapper">
  <div class="left-side">
    <img src="../../assets/svg/logo.svg" class="logo">
    <div class="game-title">
      TRUTH OR DRINK
    </div>
    <button mat-raised-button> ZAGRAJ </button>
    <div class="login-info">
      Załóż konto i twórz własne zestawy z pytaniami
    </div>
    <div class="socials">
      <a href="https://www.facebook.com/underfae" target="_blank" class="fab fa-twitter fa-2x"></a>
      <a href="https://www.instagram.com/underfae" target="_blank" class="fab fa-facebook-f fa-2x"></a>
      <a href="https://www.linkedin.com/in/gabriela-frączek-009b331a3/" target="_blank" class="fab fa-instagram fa-2x"></a>
    </div>
  </div>
  <div class="right-side">
    <button mat-raised-button> UTWÓRZ KONTO </button>
    <form [formGroup]="form" (ngSubmit)="onLogin()" >
      <h1> Zaloguj się!</h1>
      <mat-form-field appearance="outline">
        <mat-label> Email </mat-label>
        <input matInput type="email" formControlName="email" [errorStateMatcher]="matcher" required>
        <mat-error *ngIf="form?.get('email').hasError('email') && !form?.get('email').hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="form?.get('email').hasError('required')">
          Email is required
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-form-field" appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" required [errorStateMatcher]="matcher">
        <mat-error *ngIf="form?.get('password').hasError('required')">
          Password is required
        </mat-error>
      </mat-form-field>
      <mat-checkbox class="example-margin" formControlName=rememberMe> Zapamiętaj mnie </mat-checkbox>
      <button mat-raised-button  type="submit" color="accent" [disabled]="!form.valid"> ZALOGUJ SIĘ </button>
    </form>
  </div>
</div>
