/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@font-face {
  font-family: "Bangers";
  src: url(assets/font/Bangers-Regular.ttf) format("truetype");
}


.mat-radio-outer-circle{
  border-color: white;
  
}
.mat-form-field-appearance-standard .mat-form-field-underline {
  background-color: white;
}

.mat-select-arrow {
color: white;
}

.mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: white;
}

.mat-select-value {
  color:white;
}