//=====================MARGINS==========================
$margin-small: 8px;
$margin-regular: 24px;
$margin-medium: 32px;
$margin-big: 48px;
$margin-large: 80px;


//=============================FONTS============================
$font-fam: 'Bangers', Arial;

$fs-small: 8px;
$fs-regular: 16px;
$fs-normal: 18px;
$fs-medium: 24px;
$fs-big: 32px;
$fs-large: 48px;

